<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NiNi</title>
        <link rel="stylesheet" href="../static/css/aboutus.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spoqa Han Sans Neo:wght@300;500;700&display=swap">
        <link rel="shortcut icon" href="">
    </head>
    <body>
        <div class="home">
            <div class="header">
                <img class="logo" alt="logo" src="../static/image/logo.svg">
                <a class="btn-nini" id="niNi">
                    <div class="nini">NiNi</div>
                </a>
                <a class="btn-home" id="home">
                    <b>Home</b>
                </a>
                <a class="btn-aboutus" id="aboutUs">
                    <img class="aboutus" alt="about_us" src="../static/image/about-us.svg">
                    <b class="aboutus-text">About US</b>
                </a>
            </div>

            <div class="main">
                <div class="profile-img">
                    <img class="profile" alt="nini" src="../static/image/profile.png">
                </div>
                <div class="profile-title">
                    <p class="title-text">Tiny Enchanter</p>
                </div>
                <div class="profile-paragraph">
                    <p class="profile-paragraph-1">
                        <span class="profile-paragraph-1-1">NiNi</span
                            ><span class="profile-paragraph-1-2">는 귀여운 캐릭터 그림을 그려주는 인공지능이에요.</span>
                    </p>
                    <p class="profile-paragraph-2">
                        <span class="profile-paragraph-2-1">그림을 그리는 데에 필요한 건 단 </span
                            ><span class="profile-paragraph-2-2">두 번</span
                            ><span class="profile-paragraph-2-3">의 클릭, 그리고 약 </span
                            ><span class="profile-paragraph-2-4">1분</span
                            ><span class="profile-paragraph-2-5">의 시간.</span>
                    </p>
                    <p class="profile-paragraph-3">
                        <span class="profile-paragraph-3-1">전문적인 기술? 필요 없어요. </span
                            ><span class="profile-paragraph-3-2">NiNi</span
                            ><span class="profile-paragraph-3-3">가 다 알아서 해주니까요.</span>
                    </p>
                </div>
            </div>
        </div>
        <script>
            var niNi = document.getElementById("niNi");
            if (niNi) {
                niNi.addEventListener("click", function (e) {
                    window.location.href = "/";
              });
            }
            
            var home = document.getElementById("home");
            if (home) {
                home.addEventListener("click", function (e) {
                    window.location.href = "/";
              });
            }
            
            var aboutUs = document.getElementById("aboutUs");
            if (aboutUs) {
                aboutUs.addEventListener("click", function (e) {
                    window.location.href = "/aboutus";
              });
            }
        </script>
    </body>
</html>