@charset "utf-8";

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.home {
    position: relative;
    background-color: #FFE593;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1.59vw;
    color: #FFF;
    font-family: "Spoqa Han Sans Neo";
}

.header {
    position: absolute;
    width: 89.19vw;
    height: 9.57vh;
    top: 2.34vh;
    left: 4.23vw;
    font-size: 1.32vw;
    line-height: 2.54vh;
    color: #014656;
}

.logo {
    position: absolute;
    width: 6.22vw;
    height: 9.57vh;
    top: -0.5vh;
    left: 2vw;
    border-radius: 10px;
}

.btn-nini {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
  
.nini {
    position: absolute;
    width: 6.94vw;
    height: 6.62vh;
    top: 1.43vh;
    left: 7.94vw;
    font-size: 3.17vw;
    font-family: "GoryeongStrawberry";
    line-height: 6.6vh;
}
  
.btn-home {
    position: absolute;
    width: 3.9vw;
    height: 2.55vh;
    top: 3.26vh;
    left: 74.2vw;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
  
.btn-aboutus {
    position: absolute;
    width: 9.38vw;
    height: 5.25vh;
    top: 2vh;
    left: 79.81vw;
    text-decoration: none;
    cursor: pointer;
    color: #F6A801;
}
  
.aboutus {
    position: absolute;
    width: 9.51vw;
    height: 5.46vh;
    top: -0.43vh;
    left: -0.28vw;
}
  
.aboutus-text {
    position: absolute;
    width: 6.08vw;
    height: 2.55vw;
    top: 1.26vh;
    left: 1.54vw;
}
  
.main {
    position: absolute;
    width: 90.01vw;
    height: 70.37vh;
    top: 18.33vh;
    left: 5.29vw;
}
  
.stablediffusion {
    position: absolute;
    width: 15.74vw;
    height: 16.29vh;
    top: 10.18vh;
    left: 0.49vw;
    font-size: 4.23vw;
    display: inline-block;
    color: #014656;
}
  
.stable {
    margin: 0;
}
  
.icon1 {
    position: absolute;
    width: 20.73vw;
    height: 3.54vh;
    top: 28.51vh;
    left: -0.85vw;
}
  
.text {
    position: absolute;
    width: 36.38vw;
    height: 19.56vh;
    top: 34.62vh;
    left: 0.49vw;
    font-size: 1.59vw;
    letter-spacing: 5%;
    display: inline-block;
    color: #211919;
    line-height: 3.26vh;
}
  
.icon2 {
    position: absolute;
    width: 5.12vw;
    height: 9.91vh;
    top: 53.97vh;
    left: 21.16vw;
}
  
.getstarted {
    position: absolute;
    width: 15.79vw;
    height: 7.55vh;
    top: 61.07vh;
    left: 0.13vw;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
  
.getstarted-box {
    position: absolute;
    width: 14.15vw;
    height: 5.5vh;
    top: 0.7vh;
    left: 1.15vw;
    background-color: #f6a801;
}
  
.get-started {
    position: absolute;
    width: 11.11vw;
    height: 2.95vh;
    top: 2.12vh;
    left: 2.61vw;
    font-weight: 700;
    display: inline-block;
    line-height: 3.06vh;
}
  
.getstarted-item {
    position: absolute;
    width: 15.99vw;
    height: 7.85vh;
    top: -0.15vh;
    left: -0.1vw;
}
  
.icon3 {
    position: absolute;
    width: 8.16vw;
    height: 70.37vh;
    left: 72.38vw;
}
  
.icon4 {
    position: absolute;
    width: 7.76vw;
    height: 44.73vh;
    top: 10.35vh;
    left: 82.19vw;
}
  
.image {
    position: absolute;
    width: 39.09vw;
    height: 60.19vh;
    top: 4.79vh;
    left: 43.52vw;
    border-radius: 4%;
}
  
.icon5 {
    position: absolute;
    width: 7.62vw;
    height: 10.37vh;
    top: 1.53vh;
    left: 40.87vw;
}